@import "../default/_base";

@mixin wrap() {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    > * {
      padding: 0;
    }
  }
}

.bullets {
  li {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
  }
  img {
    margin-right: 1em;
    width: 44px;
  }
}
.srow {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin: 1em 0;
  width: 100%;
  margin-bottom: 5em;
  > * {
    padding-right: 2em;
  }
  img {
    height: 1em;
    padding-right: 0.5em;
  }
}
.header {
  width: 100%;
  padding: 1em;
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
  }
  ul {
    display: flex;
    @include wrap();
    li {
      margin-right: 1.5em;
    }
  }

  @media only screen and (max-width: 768px) {
    .mainHeader,
    .subHeader {
      display: none;
    }
  }
}
.hero {
  min-height: 50vh;
  .full img {
    max-width: 100% !important;
  }
  @media only screen and (max-width: 768px) {
    .halfImage {
      display: none !important;
    }
  }
}
div.halfImage {
  * {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  align-items: center !important;
  img {
    max-width: 400px !important;
  }
  // svg {
  //   width: 80%;
  //   margin-left: 10%;
  //   opacity: 0.8;
  //   z-index: -1;
  // }
  @media only screen and (max-width: 768px) {
    order: -2;
  }
}
.divFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: calc(100% - 2em);
  margin: 1em 0;
}
.srow.tstImages img {
  width: 5em;
  height: auto;
  margin-right: 2em;
}
.entImages {
  display: flex;
  margin: 2em 0;
  img {
    width: 6em;
    margin-left: -1.5em;
  }
}
.priceCard {
  align-items: center !important;
  text-align: center;
  padding: 1em;
  ul {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 1em;
      label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      i {
        margin-right: 0.5em;
      }
    }
  }
}
.banner,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  > div {
    margin: 1em 0;
  }
}
.footer {
  @media only screen and (max-width: 768px) {
    justify-content: start;
  }
  div {
    @media only screen and (max-width: 768px) {
      width: calc(50% - 2em);
    }
  }
}
