body {
  background-color: #f7f9fb;
}
.header {
  width: 100%;
  padding: 0em;
  position: relative;
}
.fullWidthImage {
  background-color: white;
  border: 1px solid rgba(199, 205, 215, 0.5);
}
.card {
  padding: 2em;
  margin: 2em;
  max-width: 45em;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(7, 78, 232, 0.1), 0 3px 6px rgba(7, 78, 232, 0.1);
}

.social img {
  width: 1em;
  margin-right: 1em;
}
.half > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
}
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    display: block;
  }
  section {
    padding: 0.5em;
    position: relative;
    border: solid rgb(194, 191, 191) 1px;
    border-radius: 5px;
    i {
      position: absolute;
      right: 0.5em;
    }
    input {
      border: none;
    }
  }
}
