<header class="w-100 overflow-hidden" style="height: 90vh;margin-bottom: 10vh;position: relative;">
  <img style="z-index: -1;" src="../../assets/landingMainbg.png" class="position-absolute img-fluid w-100 h-100">
  <nav class="navbar navbar-expand-md navbar-dark border-bottom">
    <div class="container">
      <a class="navbar-brand" href="#">Expand at md</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container p-4 h-75">
    <div class="d-flex row my-3 my-md-0 h-100 align-items-md-center justify-content-between">
      <div class="col-md-5">
        <h1 class="display-5 text-light">Plan.Share. Communicate. Where the dental industry comes together</h1>
        <button type="button" class="btn btn-primary mt-4 w-50">Primary</button>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="../../assets/landingMain1.png" style="width: 100%;transform: translateX(-20%);min-width: 40em;">
      </div>
    </div>
  </div>
</header>
<main class="overflow-hidden w-100">
  <div class="container p-4">
    <h5 class="h3 text-center mb-md-5">Solutions for everyone</h5>
    <div class="row">
      <div class="col-12 d-flex no-wrap my-4">
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
        <button class="btn btn-outline-secondary me-4 d-flex no-wrap"><i class="fa fa-home me-2"></i>Patients</button>
      </div>
    </div>
    <div class="d-flex row align-items-center justify-content-between my-4">
      <div class="col-md-5">
        <h1 class="h2">How it helps in day today activities of activities of Dental Specialists</h1>
        <ul class="list-group my-3">
          <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
              class="fa fa-3x fa-home me-3"></i>
            <p class="m-0">Share and store pertinent files (i.e.
              pictures,videos,X-ray images).</p>
          </li>
          <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
              class="fa fa-3x fa-home me-3"></i>
            <p class="m-0">Share and store pertinent files (i.e.
              pictures,videos,X-ray images).</p>
          </li>
          <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
              class="fa fa-3x fa-home me-3"></i>
            <p class="m-0">Share and store pertinent files (i.e.
              pictures,videos,X-ray images).</p>
          </li>
        </ul>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="../../assets/landingMain1.png" style="width: 100%;transform: translateX(-20%);min-width: 40em;">
      </div>
    </div>
    <div class="d-flex row justify-content-between">
      <div class="col-6 lister">
        <span class="rounded-pill"></span>
        <span class="rounded-circle"></span><span class="rounded-circle"></span><span class="rounded-circle"></span>
      </div>
      <div class="col-6 lister text-end">
        <i class="fa fa-arrow-left rounded-circle border me-2" aria-hidden="true"></i>
        <i class="fa fa-arrow-right rounded-circle border active" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2 p-0">
    <img style="z-index: -1;" src="../../assets/testimonialbg.png" class="position-absolute img-fluid w-100 h-100">
    <div class="container p-4 mt-2">
      <h5 class="h3 text-center mb-md-5">Solutions for everyone</h5>
      <div class="row">
        <div class="col-12 d-flex no-wrap my-4">
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
          <button class="btn btn-outline-secondary me-4 d-flex no-wrap align-items-center"><i
              class="fa fa-home me-2"></i>Patients</button>
        </div>
      </div>
      <div class="d-flex row align-items-center justify-content-between my-4">
        <div class="col-md-5">
          <h1 class="h2">How it helps in day today activities of activities of Dental Specialists</h1>
          <ul class="list-group my-3">
            <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
                class="fa fa-3x fa-home me-3"></i>
              <p class="m-0">Share and store pertinent files (i.e.
                pictures,videos,X-ray images).</p>
            </li>
            <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
                class="fa fa-3x fa-home me-3"></i>
              <p class="m-0">Share and store pertinent files (i.e.
                pictures,videos,X-ray images).</p>
            </li>
            <li class="p-0 list-group-item d-flex align-items-center justify-content-between border-0 my-3"><i
                class="fa fa-3x fa-home me-3"></i>
              <p class="m-0">Share and store pertinent files (i.e.
                pictures,videos,X-ray images).</p>
            </li>
          </ul>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="../../assets/landingMain1.png" style="width: 100%;transform: translateX(-20%);min-width: 40em;">
        </div>
      </div>
      <div class="d-flex row justify-content-between">
        <div class="col-6 lister">
          <span class="rounded-pill"></span>
          <span class="rounded-circle"></span><span class="rounded-circle"></span><span class="rounded-circle"></span>
        </div>
        <div class="col-6 lister text-end">
          <i class="fa fa-arrow-left rounded-circle border me-2" aria-hidden="true"></i>
          <i class="fa fa-arrow-right rounded-circle border active" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>



</main>
<footer></footer>
