<div class="container-fluid p-0 overflow-hidden">
  <!-- top navigation -->

  <nav class="navbar navbar-expand-md navbar-dark border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=" /mail/inbox"><img style="width: 5em;" src="../../assets/logo.png"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto my-2 my-md-0">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/login">Logout</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav d-md-none me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/compose">Compose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/inbox">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/sent">Sent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              routerLink="/mail/patients">Patients</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="d-none d-md-block col-md-2 min-vh-100 p-0"
      style="border-right: solid 1px #dad8d8;background-color: white;">
      <!-- side navigation -->
      <mat-drawer-container>
        <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
        <mat-drawer-content>
          <div class="list-group border-0 rounded-0">
            <a routerLinkActive="activeText" routerLink="/mail/compose"
              class="list-group-item list-group-item-action border-0 border-bottom rounded-0 px-4">Compose</a>
            <a routerLinkActive="activeText" routerLink="/mail/inbox"
              class="list-group-item list-group-item-action border-0 border-bottom rounded-0 px-4">Inbox</a>
            <a routerLinkActive="activeText" routerLink="/mail/sent"
              class="list-group-item list-group-item-action border-0 border-bottom rounded-0 px-4">Sent</a>
            <a routerLinkActive="activeText" routerLink="/mail/contacts"
              class="list-group-item list-group-item-action border-0 border-bottom rounded-0 px-4">Contacts</a>
            <a routerLinkActive="activeText" routerLink="/mail/patients"
              class="list-group-item list-group-item-action border-0 border-bottom px-4">Patients</a>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    <div class="col-md-9 mx-auto">
      <!-- main content dynamic in nature-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
