.activeText {
  background-color: #00D9CC !important;
  color: white !important;
}

/* Header */
.navbar {
  box-shadow: 0px 4px 20px 0px rgba(7, 213, 232, 0.1);
  background-color: #fff;
}

.navbar-brand img {
  max-height: 35px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #5D6A7E;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #5D6A7E;
}

.navbar-dark .navbar-toggler {
  color: rgb(40, 112, 183);
  border-color: rgb(40, 112, 183);
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}
