<div class="container mt-5 rounded px-5 py-3"
  style="background: white;box-shadow: 0px 4px 20px rgba(7, 213, 232, 0.1);">
  <h4 class="mb-4 mt-3 p-0">Add Patient</h4>
  <div *ngIf="sending" class="row">
    <div class="col-md-12">
      <lottie-player class="w-100 mt-3 m-auto"
        src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
      <h6 class=" text-center mt-5">Processing request....please wait,dont close this page</h6>
    </div>
  </div>
  <ng-form [hidden]="sending" #f="ngForm" id="mainForm" (ngSubmit)="onSubmit(f)">
    <div class="row mb-4">
      <div class="col-md-4 mb-4">
        <img #patientImg [src]="imageSrc?imageSrc:'../assets/patient.png'" class="img-thumbnail rounded">
        <div class="d-grid gap-2 mt-2">
          <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="loadFiles($event)"
            class="d-none custom-file-input" id="selectedFiles">
          <label class="btn btn-primary" for="selectedFiles">Upload</label>
          <button (click)="removeFile();" type="button" class="btn btn-secondary border d-block">remove</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">First name</label>
              <input type="text" required class="form-control" [(ngModel)]="patient.PatientfirstName"
                name="PatientfirstName" placeholder="Jhon">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Last name</label>
              <input type="text" required class="form-control" [(ngModel)]="patient.PatientlastName"
                name="PatientlastName" placeholder="Doe">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" required class="form-control" [(ngModel)]="patient.emailAddress" name="emailAddress"
                pattern="[^ @]*@[^ @]*" placeholder="jhondoe@example.com">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label">Phone number</label>
              <input type="text" class="form-control" [(ngModel)]="patient.phoneNumber" name="phoneNumber"
                placeholder="(250) 555-0199">
            </div>
          </div>
          <div class="col-md-12">
            <div class="row gx-2 mt-3 align-items-end" style="justify-content: flex-end;">
              <div class="col-md-4">
                <a routerLink="/mail/patients" class="btn btn-secondary w-100 border mb-3 mb-md-0">Cancel</a>
              </div>
              <div class="col-md-4 order-md-3">
                <button *ngIf="!freeze" (click)="onSubmit(f)" type="submit" class="btn btn-primary w-100 mb-3 mb-md-0">
                  <span *ngIf="!edit">Add</span><span *ngIf="edit">Update</span>
                </button>
              </div>
              <div *ngIf="edit" class="col-md-4 ">
                <button (click)="deleteItem()" *ngIf="!touched" type="button" class="btn btn-danger w-100">
                  Delete
                </button>
                <button (click)="freezeItem(true)" *ngIf="touched && !freeze" type="button"
                  class="btn btn-danger w-100">
                  Freeze
                </button>
                <button (click)="freezeItem(false)" *ngIf="touched && freeze" type="button"
                  class="btn btn-danger w-100">
                  UnFreeze
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
