<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group class="mt-5">
        <mat-tab label="Basic Details">
          <app-addaccount></app-addaccount>
        </mat-tab>
        <mat-tab label="Change Password">
          <app-addpassword></app-addpassword>
        </mat-tab>
        <mat-tab label="Payment Details">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_4s3kvfcn.json" background="transparent"
            speed="1" loop class="w-100" autoplay></lottie-player>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
