/* change player background color */
.video-js {
  background-color: rgba(0, 217, 204, 0.1);
}

textarea {
  height: auto !important;
}

.recorders button {
  background-color: #00bcb0;
  color: white;
}

.vjs-device-button {
  font-size: 10px !important;
  position: absolute !important;
  z-index: 2 !important;
  top: calc(50% - 2em) !important;
  left: calc(50% - 0em) !important;
  cursor: pointer !important;
  opacity: 1 !important;
  transition: all 0.4s !important;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: white !important;
  box-shadow: none !important;
  color: #00D9CC !important;
  border-radius: 6px !important;
  height: 4em !important;
  width: 5em !important;
}
